body {
  background-color: lightgray;
  padding:0;
  margin: 0px;
}
h1{
  text-align: center;
  color: white;
  text-shadow: 2px 2px  4px black;
  font-size: 4rem;
  margin-bottom: 0px;
}

.image {
  display: block;
  background-color: antiquewhite;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  margin: auto;
  top: 200px;
  border: 10px solid antiquewhite;
}

.image:hover {
  box-shadow: 4px 5px 12px 1px black;
}


#skill {
  box-shadow: 4px 5px 12px 1px black;
  float: right;
  padding: 5px 20px;

  /* display: block; */
  position: absolute;
  cursor: pointer;
  right: 30%;
}

#project{
  box-shadow: 4px 5px 12px 1px black;
  float: right;
  padding: 5px 20px;

  /* display: block; */
  position: absolute;
  left: 30%;
  cursor: pointer;
}

#left{
  position: absolute;
  height: 100%;
  z-index: 10;
  top:0;
  right:0;
  width:0px;
  background-color: white;
}

#right{
  position: absolute;
  height: 100%;
  z-index: 10;
  top:0;
  left:0;
  width:0px;
  background-color: white;
}
